<!DOCTYPE html>
{%extends "nav.html"%}
{%load static%}

{% block title%}Employee List{% endblock title%}


{% block body %}

    <div class = "jumbotron">

    <h1>Employee Records: </h1>
    <br>

    {%if employees%}
    <table  class="tab" style="border:2px solid black; border-collapse:collapse" >
      <thead>
          <th style="border:2px solid black; border-collapse:collapse">Name</th>
          <th style="border:2px solid black; border-collapse:collapse">Phone</th>
      </thead>
      {%for obj in employees%}
    <tr>
        <td style="border:2px solid black; border-collapse:collapse">{{obj.name}}</td>
        <td style="border:2px solid black; border-collapse:collapse">{{obj.phone}}</td>
    </tr>
      {%endfor%}
    </table>
   {%else%}
          <p>There is no records</p>
    {%endif%}

    </div>

{%endblock body%}
